<div id="<%= dom_id cart_product %>">
  <p>
    <strong>Qty:</strong>
    <%= cart_product.qty %>
  </p>

  <p>
    <strong>Cart:</strong>
    <%= cart_product.cart_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= cart_product.product_id %>
  </p>

</div>
