<div id="<%= dom_id order %>">
  <p>
    <strong>Date:</strong>
    <%= order.date %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= order.type %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

</div>
